<div class='container'>
    <div class='hamburger-div'>
        <img class='hamburger-icon' src='../../assets/images/Hamburger_icon.png' (click)='activateDropdown()' />
    </div>

    <div class='logo'>
        <img class='logo-icon' src='../../assets/images/logo.jpg' />
        <p>{{title}}</p>
        <img class='logo-icon' src='../../assets/images/logo.jpg' />
    </div>

    <nav>
        <button>
            <a routerLink='/dashboard'>Home</a>
        </button>
        <button>
            <a routerLink='/heroes'>Heroes</a>
        </button>
        <button>
            <a routerLink='/battle'>Battle</a>
        </button>
    </nav>
</div>

<ng-template [ngIf]='activeDropdown'>
    <div class='dropdown'>
        <ul>
            <li>
                <h1 class='close' (click)='closeDropdown()'>X</h1>
            </li>
            <li>
                <button class='dropdown-button' (click)='closeDropdown()'>
                    <a routerLink='/dashboard'>Home</a>
                </button>
            </li>
            <li>
                <button class='dropdown-button' (click)='closeDropdown()'>
                    <a routerLink='/heroes'>Heroes</a>
                </button>
            </li>
            <li>
                <button class='dropdown-button' (click)='closeDropdown()'>
                    <a routerLink='/battle'>Battle</a>
                </button>
            </li>
        </ul>
    </div>
</ng-template>