<div class='container'>
    <div class='hamburger-div'>
        <img class='hamburger-icon' src='../../assets/images/Hamburger_icon.png' />
    </div>

    <div class='logo'>
        <img class='logo-icon' src='../../assets/images/logo.jpg' />
        <p>{{title}}</p>
        <img class='logo-icon' src='../../assets/images/logo.jpg' />
    </div>

    <nav>
        <button>
            <a routerLink='/dashboard'>Home</a>
        </button>
        <button>
            <a routerLink='/dashboard'>Heroes</a>
        </button>
        <button>
            <a routerLink='/dashboard'>Battle</a>
        </button>
    </nav>
</div>
