<div class='container'>
    <div class='hamburger-div'>
        <img class='hamburger-icon' src='../../assets/images/Hamburger_icon.png' (click)='activateDropdown()' />
    </div>

    <div class='logo'>
        <img class='logo-icon' src='../../assets/images/logo.jpg' />
        <p>{{title}}</p>
        <img class='logo-icon' src='../../assets/images/logo.jpg' />
    </div>

    <nav>
        <button class='nav-button' routerLink='/dashboard' >
            Home
        </button>
        <button class='nav-button' routerLink='/heroes'>
            Heroes
        </button>
        <button class='nav-button' routerLink='/battle'>
            Battle
        </button>
    </nav>
</div>

<ng-template [ngIf]='activeDropdown'>
    <div class='dropdown'>
        <ul>
            <li>
                <h1 class='close' (click)='closeDropdown()'>X</h1>
            </li>
            <li>
                <button routerLink='/dashboard' class='dropdown-button' (click)='closeDropdown()'>
                    Home
                </button>
            </li>
            <li>
                <button routerLink='/heroes' class='dropdown-button' (click)='closeDropdown()'>
                    Heroes
                </button>
            </li>
            <li>
                <button routerLink='/battle' class='dropdown-button' (click)='closeDropdown()'>
                    Battle
                </button>
            </li>
        </ul>
    </div>
</ng-template>