<div class="battle-component-container">
    <div class='attacking-hero-div'>
        <ng-template [ngIf]='!attackingHeroSelected'>
            <h3>Attacking Hero:</h3>
            <ul>
                <li *ngFor='let hero of heroes'>
                    <div class='inside-hero-container'>
                        <img src={{hero.heroIcon}} class='hero-img' />
                        <div class='attributes-div'>
                            <p>HP: {{hero.hp}}</p>
                            <p>ATK: {{hero.atk}}</p>
                            <p>DEF: {{hero.def}}</p>
                            <p>LVL: {{hero.lvl}}</p>
                        </div>
                    </div>
                    <span (click)='selectAttackingHero(hero)'>{{hero.name}}</span>
                    <button class='hero-button' (click)='selectAttackingHero(hero)'>Select Hero</button>
                </li>
            </ul>
        </ng-template>

        <ng-template [ngIf]='attackingHeroSelected'>
            <h3>Attacking Hero:</h3>
            <button class='hero-reselect-button'(click)='resetAttackingHero()'>Select a different hero</button>
            <div class='hero-selected-container'>
                <img src="{{attackingHero['heroIcon']}}" class='chosen-hero-img' />
                <div class='attributes-div'>
                    <p>HP: {{attackingHero['hp']}}</p>
                    <p>ATK: {{attackingHero['atk']}}</p>
                    <p>DEF: {{attackingHero['def']}}</p>
                    <p>LVL: {{attackingHero['lvl']}}</p>
                </div>
            </div>
            <span>{{attackingHero['name']}}</span>
        </ng-template>
    </div>

    <div class='defending-hero-div'>
        <ng-template [ngIf]='!defendingHeroSelected'>
            <h3>Defending Hero:</h3>
            <ul>
                <li *ngFor='let hero of heroes'>
                    <div class='inside-hero-container'>
                        <img src={{hero.heroIcon}} class='hero-img' />
                        <div class='attributes-div'>
                            <p>HP: {{hero.hp}}</p>
                            <p>ATK: {{hero.atk}}</p>
                            <p>DEF: {{hero.def}}</p>
                            <p>LVL: {{hero.lvl}}</p>
                        </div>
                    </div>
                    <span (click)='selectDefendingHero(hero)'>{{hero.name}}</span>
                    <button class='hero-button' (click)='selectDefendingHero(hero)'>Select Hero</button>
                </li>
            </ul>
        </ng-template>

        <ng-template [ngIf]='defendingHeroSelected'>
            <h3>Defending Hero:</h3>
            <button class='hero-reselect-button' (click)='resetDefendingHero()'>Select a different hero</button>
            <div class='hero-selected-container'>
                <img src="{{defendingHero['heroIcon']}}" class='chosen-hero-img' />
                <div class='attributes-div'>
                    <p>HP: {{defendingHero['hp']}}</p>
                    <p>ATK: {{defendingHero['atk']}}</p>
                    <p>DEF: {{defendingHero['def']}}</p>
                    <p>LVL: {{defendingHero['lvl']}}</p>
                </div>
            </div>
            <span>{{defendingHero['name']}}</span>
        </ng-template>
    </div>

    <ng-template [ngIf]='defendingHeroSelected' && [ngIf]='attackingHeroSelected'>
        <div class='battle-div'>
            <button class='battle-button' (click)='battle()'>Begin Battle</button>
            <app-battle-messages></app-battle-messages>
        </div>
    </ng-template>
</div>