<div class='heroes-container'>
    <ng-template [ngIf]='!addHero'>
        <button class='hero-button' (click)='openAddAHero()'>Add Hero</button>
        <ul>
            <li *ngFor='let hero of heroes'>
                <span>{{hero.name}}</span>
                <button routerLink='/edit/{{hero.id}}' class='edit' title='edit hero'>Edit</button>
                <button class='delete' title='delete hero' (click)='delete(hero)'>x</button>
            </li>
        </ul>
    </ng-template>
    <ng-template [ngIf]='addHero'>
        <button class='hero-button' (click)='closeAddAHero()'>Close</button>
        <app-add-hero (heroSubmit)='closeAddAHeroParent($event)' [function]='add' ></app-add-hero>
    </ng-template>
</div>